<nav>
    <div class="container">
        <a href="/" class="nav_title">Garden Builder</a>
        <label class="nav_label">
            <input type="checkbox"/>
        </label>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="">My Garden</a></li>
            <li><a href="">Wishlist(?)</a></li>
            <li><a href="">Log Out</a></li>
            <li><a href="">Sign In</a></li>
            <li><a href="">Register</a></li>
        </ul>
    </div>
</nav>