<header>
    <div class="container">
        <h1>Build your <span class="clr">dream garden.</span></h1>
        <p>Find your USDA plant hardiness zone, and we'll give you a list of plants that you can put in your garden with no worries. Just enter your zip code below to get started.</p>
        <form action="">
            <input type="text" pattern="[0-9]*" placeholder="Enter zip code..." max="99999" minlength="5" maxlength="5" class="zipCodeInput" />
            <input type="submit" value="Find Plants">
        </form>
    </div>
</header>